<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
  <div class="layui-header" style="background-color: #2a8edd; display: flex; justify-content: space-between; align-items: center;">
    <!-- 左侧的Logo -->
    <div class="layui-logo layui-hide-xs layui-bg-black layui-font-20">正創株式会社</div>

    <!-- 中间的导航菜单 -->
    <ul class="layui-nav" style="background-color: #2a8edd;">
      <li class="layui-nav-item"><a href="">正創株式会社</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">請求書</a>
        <dl class="layui-nav-child">
          <dd><a href="/invoices">請求書一覧</a></dd>
          <dd><a href="/upload-invoice">請求書登録</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">BP</a>
        <dl class="layui-nav-child">
          <dd><a href="">BP一覧</a></dd>
          <dd><a href="/bp/register">BP書登録</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">稼働</a>
        <dl class="layui-nav-child">
          <dd><a href="">稼働員一覧</a></dd>
          <dd><a href="">稼働員登録</a></dd>
          <dd><a href="">稼働履歴</a></dd>
        </dl>
      </li>
    </ul>

    <!-- 右侧的用户名显示区域 -->
    <div style="color: white; margin-right: 20px;">
      <a th:href="@{/user/profile}" style="color: white; text-decoration: none;" class="username-link">
        <span th:text="${username}">ゲスト</span> さん
      </a>
    </div>
    <style>
      .username-link {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
      }

      .layui-header .username-link:hover {
        color: #add8e6 !important; /* 使用更高优先级，并增加 !important */
        cursor: pointer;
      }
    </style>

  </div>
</th:block>
</html>
